<!DOCTYPE html>
<html lang="en">
<body>
<div class="top">
    <div class="logo">
        <h2> monitor (项目监控系统)</h2>
    </div>
    <div class="tool">
        <div class="toolBox">
            <a class="title-first" href="#" target="view_window"><i
                    class="doc"></i>用户手册</a>
        </div>
        <div class="toolBox" onmouseover="showQrCode();" onmouseout="hideQrCode()">
            <a href="#"><i class="msg"></i>需求&反馈</a>
        </div>
        <div class="welcome">
            <i id="avatar"></i>
            <h3 id="username" class="userName"></h3>
        </div>
    </div>
</div>
</body>
</html>